{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Landing Page & Main Title Text -->
<section id="landing-page">
    <div class="container d-flex justify-content-center">
        <div class="landing-text text-center mt-2">
            <h1>Welcome to Time Hoppers</h1>
            <h2>Tour a Moment in Time</h2>
            <div class="book-tour-button text-center mt-3">
                <a class="btn btn-primary mb4" href="{% url 'tours-list' %}" aria-label="Go to the Book Tour Section">Book Tour</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}