{% extends "base.html" %}
{% load static %}
{%  load crispy_forms_tags  %}

{% block content %}

<!-- Profile Page Container-->
<section class="posts container">

  <div class=" card mb-3 mt-3 shadow p-2 mb-3 bg-body rounded" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-3">
        {%  if user.profile.profile_image.url  %}
        <!-- Profile Image -->
        <img class="rounded-circle border border-3 shadow p-3 mb-3 bg-body rounded mx-auto d-block mt-3"
          src="{{ user.profile.profile_image.url  }}" width="100" alt="Profile Image">
        {%  else  %}
        <!-- Default Image -->
        <img class="rounded-circle border border-3 shadow p-3 mb-3 bg-body rounded mx-auto d-block mt-3"
          src="https://res.cloudinary.com/ciara0s1980/image/upload/v1663335273/default-profile-image.png" width="100"
          alt="Default Profile Image">
        {%  endif  %}
      </div>
      <div class="col-md-8 text-md-start text-center">
        <div class="card-body">
          <h4 class="card-title">Profile Page for {{  user.username  }}</h4>
          <!-- Update Profile Page -->
          <form class="signup mt-3" id="signup_form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form|crispy }}
            {{ profile_form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-primary mt-4 mb-4 float-end" type="submit">Update Profile</button>
          </form>
        </div>
      </div>
    </div>

    <!--Order History-->
    <div class="form-style col-12 pb-3 pt-3 pe-2">
      <div class="row pb-2">
        <div class="col-7 offset-1">
          <p class="text-orange mb-1 mt-0">Order History</p>
        </div>
        <div class="col-4 float-end">
          <p class="text-orange mb-1 mt-0">Order Totals</p>
        </div>
        <hr class="my-0">
      </div>
      {% for order in order %}

      <div class="row">
        <div class="col-1 mb-1">
          <a href="">
          </a>
        </div>
        {%  for item in order.lineitems.all  %}
        <div class="col-7">
          <p class="my-0"><strong>{{ item.tour.tour_name }}</strong></p>
          <p class="my-0 small">Dept Date:
            {{ item.tour_departure_date }}</p>
          <p class="my-0 small">Dept Time:
            {{ item.tour.departure_time }}</p>

          <p class="my-0 small text-muted-white mb-2">No. of Tickets: {{ item.quantity }}</p>
          <p class="my-0 small text-muted-white mb-2">OrderNo: {{  order.order_number  }}</p>
        </div>
        <div class="col-3 text-right">
          <p class="my-0 small text-muted-white">
            € {{ order.grand_total }}</p>
        </div>
        <hr class="my-0">
      </div>
      {%  endfor  %}
      {% endfor %}

      <hr class="my-0">

    </div>
  </div>

</section>

{%  endblock content  %}