{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}


{% block content %}


<!--Booking Order Form-->
<section class="order-form my-4 mx-4">
    <div class="container pt-4">

        <!--Order Form Title-->
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <h1>Thank You <em>{{  order.full_name  }}</em></h1>
                <h2>Your Order was Successful</h2>
                <h4 class="mt-4 mb-2">Your Order Number is:</h4>
                <p class="mb-4"><small>{{  order.order_number  }}</small></p>
                <p>A confirmation email with your tickets will be sent to <strong>{{  order.email  }}</strong></p>
                <span>Please see the summary of your order below.</span>
                <hr class="mt-1">
            </div>
        </div>

        <!--Order Form Container-->
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">

                <!--Order Summary-->
                <div class="form-style col-12 pb-3 pt-3">
                    <div class="order-summary row pb-2">
                        <div class="order-summary col-7 offset-1">
                            <p class="text-orange mb-1 mt-0">Booking Summary</p>
                        </div>
                        <div class="order-summary col-4 float-end">
                            <p class="text-orange mb-1 mt-0">Subtotal</p>
                        </div>
                        <hr class="my-0">
                    </div>
                    {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="order-summary col-1 mb-1">
                            <a href="{% url 'tour-detail' item.tour.id %}">
                            </a>
                        </div>
                        <div class="order-summary col-7">
                            <p class="my-0"><strong>{{ item.tour.tour_name }}</strong></p>
                            <p class="my-0 small">Dept Date:
                                {{ item.tour_departure_date }}</p>
                            <p class="my-0 small">Dept Time:
                                {{ item.tour.departure_time }}</p>

                            <p class="my-0 small text-muted-white mb-2">No. of Tickets: {{ item.quantity }}</p>
                        </div>
                        <div class="order-summary col-3 text-right">
                            <p class="my-0 small text-muted-white">
                                @ €{{ item.tour.price|floatformat:0 }} each</p>
                        </div>
                    </div>
                    {% endfor %}
                    <hr class="my-0">
                    <div class="row text-orange text-right">
                        <div class="col-7 offset-1">
                            <p class="my-0">Order Total:</p>
                        </div>
                        <div class="col-3">
                            <p class="my-0">€{{ order.grand_total|floatformat:0 }}</p>
                        </div>
                    </div>
                </div>

                <!--Link Back to Tours-->
                <div class="submit-button mt-5 mb-2 d-flex justify-content-between">
                    <a href="{% url 'tours-list' %}" class="btn btn-outline-secondary me-4">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="font-weight-bold">View Tours</span>
                    </a>
                    <!--Link to Profile if /user Signed in-->
                    <a href="{% url 'profile' %}" class="btn btn-primary">
                        <span class="font-weight-bold">View Profile</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>

{%  endblock  %}