{% extends "base.html" %}
{% load static %}

{% block content %}


<!--Booking Order Form-->
<section class="order-form my-4 mx-4">
    <div class="container pt-4">

        <!--Order Form Title-->
        <div class="row">
            <div class="col-12 col-lg-6">
                <h1>TimeHoppers Order Form</h1>
                <span>Please fill out the form below to complete your booking</span>
                <hr class="mt-1">
            </div>
            <div class="col-12 col-lg-6">
            </div>
            <!--Order Form Container-->
            <div class="col-12 col-lg-6">
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset class="rounded px-3 mb-5">
                        <!--User Details-->
                        <legend class="fieldset-label small text-black px-2 w-auto">Details</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                    </fieldset>
                    <!--User Address Info-->
                    <fieldset class="rounded px-3 mb-5">
                        <legend class="fieldset-label small text-black px-2 w-auto">Contact Information</legend>
                        {{ order_form.phone_number | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}

                        <!--Option to svev to profile-->
                        <div class="form-check form-check-inline float-right mr-0">
                            {% if user.is_authenticated %}
                            <label class="form-check-label" for="id-save-info">Save this delivery information to my
                                profile</label>
                            <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info"
                                checked>
                            {% else %}
                            <label class="form-check-label" for="id-save-info">
                                <a class="order-sign-up" href="{% url 'account_signup' %}">Create an account</a> or
                                <a class="order-sign-up" href="{% url 'account_login' %}">Login</a> to save this information
                            </label>
                            {% endif %}
                        </div>
                    </fieldset>

                    <!--Payment Info-->
                    <fieldset class="px-3">
                        <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>

                        <!-- A Stripe card element here -->
                        <div class="mb-3" id="card-element"></div>

                        <!-- Used to display form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    </fieldset>

                    <!--Submit Button-->
                    <div class="submit-button text-right mt-5 mb-2">
                        <a href="{% url 'view-basket' %}" class="btn btn-outline-secondary">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="font-weight-bold">Adjust Basket</span>
                        </a>
                        <button id="submit-button" class="btn btn-primary">
                            <span class="font-weight-bold">Complete Booking</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </button>
                        <p class="small text-danger my-0">
                            <span class="icon">
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            <span>Your card will be charged <strong>€ {{ grand_total|floatformat:2 }}</strong></span>
                        </p>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

{%  endblock  %}