{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{%  if user.is_authenticated  %}

<div class="container mb-2">
    <div class="row">
        <div class="col">
            <h2 class="mb-4 mt-5">Booking Summary</h2>
        </div>
    </div>
    {% if bookings %}

    <!-- List of Bookings -->
    <div class="table-responsive rounded">
        <table class="table product-table">
            <!--Table head-->
            <thead>
                <tr>
                    <th></th>
                    <th>Tour</th>
                    <th>Date</th>
                    <th>Dept</th>
                    <th>Price</th>
                    <th>QTY</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>

            <!--Table body-->

           
            <tbody>
                {% for booking in bookings %}
                
                <div>
                    
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                <tr>
                    <th scope="row">
                        <img src="" alt="" class="img-fluid">
                    </th>
                    <td>
                        <h5><strong>{{  booking.tour.tour_name}}</strong></h5>
                        <p class="text-muted">{{  booking.tour.tour_duration}}</p>
                    </td>
                    <td>{{  booking.book_tour_date }}</td>
                    <td>{{  booking.departure_time }}</td>
                    <td>€ {{  booking.tour.price }}</td>
                    <td>{{  booking.quantity }}</td>
                    <td>€ {{ booking.total_price }}</td>
                    <td>
                        <!--Delete Booking-->
                        <a class="btn btn-sm btn-danger" href="{%  url 'bookings-delete' booking.id  %}"
                            aria-label="Delete Booking"><i class="fa-solid fa-trash-can"></i>
                        </a>
                    </td>
                    <td>
                        <!--Update Booking-->
                        <a class="btn btn-sm btn-primary update" href="{% url 'bookings-update' booking.id %}"
                            aria-label="Update Booking"><i class="fa-solid fa-pencil"></i>
                        </a>

                    </td>

                    {%  endfor  %}
                </tr>


                <!--Total Price row-->
                <tr>

                    <td colspan="2"></td>
                    <td colspan="3"><a class="btn btn-outline-secondary btn-sm" href="{% url 'tours-list' %}"
                            aria-label="Go to the Tours List Section"><i class="fa fa-angle-left left"></i> Browse More
                            Tours </a></td>
                    <td>
                        <h4><strong>Total</strong></h4>
                    </td>
                    <td>
                        <h4><strong>€ {{ booking.grand_total}} ?</strong></h4>
                    </td>
                    <td colspan="3"><a href="" class="btn btn-primary btn-sm">Payment<i
                                class="fa fa-angle-right right"></i></a>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

    {%  else  %}

    <div>
        <h5 class="mt-5 mb-4">No Bookings in Basket</h5>
    </div>
    <div><a class="btn btn-outline-secondary btn-sm" href="{% url 'tours-list' %}"
            aria-label="Go to the Tours List Section"><i class="fa fa-angle-left left"></i> Browse More Tours </a></div>

    {%  endif %}
    {%  endif %}

    {% endblock %}