{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{%  if user.is_authenticated  %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <h2 class="mb-4 mt-4">Review Your Booking Before Payment</h2>
            <hr>
        </div>
    </div>

    <!-- List of Bookings -->
    <div class="row">
        <div class="col">
            {% if bookings %}
            {%  for booking in bookings %}
            <div class="table-responsive rounded"></div>
            <h2>Tour Name: {{  tour_name  }} here</h2>
            <div>
                <p>Tour Name: {{  tour.tour_name  }}</p>
                <p>Tour Date: {{  booking.book_tour_date  }}</p>
                <p>Departure Time: {{  booking.departure_time  }}</p>
                <p>Number of Tickets: {{  bookingt.quantity  }}</p>
                <p>Price: {{  booking.price  }}</p>
            {% endfor %}

            </div>
            {%  else %}
            <p class="mb-5">You have no Tour Bookings yet</p>
            <a class="btn btn-primary mb4" href="{% url 'tours-list' %}" aria-label="Go to the Book Tour Section">Book
                Tour
            </a>

            {% endif %}

           
        </div>
    </div>
</div>

{%  else  %}

<div>
    <p>Please sign in to make or view bookings</p>
</div>

{%  endif %}
{% endblock %}
