{% extends "base.html" %}
{% load static %}

{%  load basket_tools  %}

{% block content %}

{%  load crispy_forms_tags  %}

<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

<div class="container mt-3 mb-2">
    <div class="row">
        <div class="col">
            <h1 class="text-orange mb-4 mt-4">Tour Bookings Basket</h1>
            <p class="text-center">Please review your bookings, edit, delete or add as necessary before proceeding to checkout</p>
        </div>
    </div>
    {% if basket_items %}

    <!-- List of All Booked Tours for the User -->
    {% include "basket/basket_mobile.html" %}
    <div class="table-responsive rounded d-none d-md-block">
        <table class="table product-table">

            <!--Table head-->
            <thead>
                <tr>
                    <th>Tour</th>
                    <th>Date</th>
                    <th>QTY</th>
                    <th>Price PerPerson</th>
                    <th>SubTotal</th>
                    <th></th>
                    
                </tr>
            </thead>

            <!--Table body-->
            <tbody>
                {%  for item in basket_items  %}
                <tr>
                    <td>
                        <!-- Tour Name-->
                        <h5><strong>{{ item.tour.tour_name }}</strong></h5>
                        <p class="text-muted">Duration: {{ item.tour.tour_duration }}</p>
                    </td>
                    <!--Departure Date-->
                    <td>{{ item.departure_date}}</td>

                    <!--Quantity Update Form-->
                    <td>
                        <form class="form update-form" method="POST" action="{%  url 'adjust_basket' item.item_id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">

                                    <!--Input Departure Date-->
                                    <input type="hidden" name="tour_departure_date" value="{{ item.departure_date }}">

                                    <!--Button to Decrease Hidden on Small screens for reponsive design-->
                                    <div class="input-group-prepend d-none d-md-block">
                                        <button class="decrement-qty btn btn-sm btn-black rounded-0"
                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                            <span>
                                                <i class="fas fa-minus fa-sm"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <!-- Quantity of Tickets Input-->
                                    <input class="form-control form-control-sm qty_input" type="number" name="quantity"
                                        value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}"
                                        id="id_qty_{{ item.item_id }}">

                                    <!--Button to Increase Hidden on Small screens for reponsive design-->
                                    <div class="input-group-append d-none d-md-block">
                                        <button class="increment-qty btn btn-sm btn-black rounded-0"
                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                            <span>
                                                <i class="fas fa-plus fa-sm"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--Update Button-->
                        <a class="update-link btn btn-sm btn-primary update ms-3 mb-2" aria-label="Update Booking"><i
                                class="fa-solid fa-pencil"></i><small> Update</small></a>
                    </td>

                    <!--Price-->
                    <td>
                        € {{ item.tour.price  }}</td>
                    <!--Subtotal-->
                    <td>€ {{ item.tour.price| calc_subtotal:item.quantity }}</td>
                    <td>
                        <!--Delete Booking At End of Row For Responsive Design-->
                        <a class="remove-item btn btn-sm btn-danger float-start" id="remove_{{ item.item_id }}"
                            data-tour_departure_date="{{ item.departure_date }}"><small><i
                                    class="fa-solid fa-trash-can"></i></small></a>
                    </td>

                    {%  endfor  %}
                </tr>

                <!--Grand Total row-->
                <tr>
                    <td colspan="1"></td>
                    <td colspan="2"><a class="btn btn-outline-secondary btn-sm" href="{% url 'tours-list' %}"
                            aria-label="Go to the Tours List Section"><i class="fa fa-angle-left left"></i> Browse More
                            Tours </a></td>
                    <td>
                        <h4><strong>Grand Total</strong></h4>
                    </td>
                    <td>
                        <h4><strong>€ {{ grand_total|floatformat:0 }}</strong></h4>
                    </td>
                    <!--Grand Total row-->
                    <td colspan="3"><a href="{%  url 'checkout'  %}" class="btn btn-primary btn-sm">Checkout<i
                                class="fa fa-angle-right right"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    {%  else  %}
    <!--If User's basket is empty-->
    <div>
        <h5 class="mt-5 mb-3">No Bookings in Basket</h5>
    </div>
    <div><a class="btn btn-outline-secondary btn-sm mb-4" href="{% url 'tours-list' %}"
            aria-label="Go to the Tours List Section"><i class="fa fa-angle-left left"></i> Browse More Tours </a></div>

    {%  endif %}
</div>

{% endblock %}

{% block postloadjs %}
{{  block.super  }}
{%  include 'tours/includes/quantity_input_script.html'  %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove from basket and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var departure_date = $(this).data('tour_departure_date');
        var url = `/basket/remove/${itemId}/`;

        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'tour_departure_date': departure_date
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>

{%  endblock  %}