@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

/* Styling for flexbox sticky footer */
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

main {
    margin-top: 90px;
    flex: 1 0 auto;
}

/* Custom styling for nav bar */
.navbar {
    padding-top: 5px !important;
    background-color: #f5f5f5;
    padding-bottom: 5px !important;
}

.nav-link.active {
    color: #ec7718 !important;
    border-bottom: 1px solid;
}

.nav-icons {
    color: #000000 !important;
}

.nav-icons:hover {
    color: #ec7718 !important;
}

/* Custom Styling for buttons */

.btn-primary {
    border-radius: none !important;
    background-color: #ec7718 !important;
    border-color: #f19f5c !important;
}

.btn-primary:hover {
    border-radius: none !important;
    background-color: #fdfcfb !important;
    color: #ec7718 !important;
    border-color: #f19f5c !important;
}

.btn-outline-secondary {
    background-color: #383636 !important;
    color: #fdfcfb !important;
}

.btn-outline-secondary:hover {
    background-color: #fdfcfb !important;
    color: #383636 !important;
}

.btn-danger {
    background-color: #fdfcfb !important;
    color: #fd0909 !important;
    border-color: #f15c5c !important;
}

.btn-danger:hover {
    background-color: #fd0909 !important;
    color: #fdfcfb !important;
    border-color: #f15c5c !important;
}

.btn-primary.update {
    background-color: #fdfcfb !important;
    color: #ec7718 !important;
    border-color: #f19f5c !important;
}

.btn-primary.update:hover {

    background-color: #ec7718 !important;
    color: #fdfcfb !important;
    border-color: #f19f5c !important;
}

.btn-primary.cancel {
    background-color: #fdfcfb !important;
    color: #383636 !important;
}

.btn-outline-secondary.cancel {
    background-color: #fdfcfb !important;
    color: #383636 !important;
}

.btn-outline-secondary.cancel:hover {
    background-color: #383636 !important;
    color: #fdfcfb !important;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}


/* Custom styling for contact section & footer */
#contact {
    background-color: #383636;
    position: relative;
    flex-shrink: 0;
}

#contact a {
    text-decoration: none;
}

#contact a:hover {
    letter-spacing: 1px;
    color: #ec7718 !important;
}

.social-icons {
    padding-left: 10px;
    color: #f5f5f5;
}

.contact-icons {
    color: #f5f5f5;
}

.contact-icons a {
    color: #f5f5f5;
}

#copyright {
    background-color: #000000;
    color: #f5f5f5;
}

/* Custom styling for Home Page */
#time, #date {
    font-size: 3rem;
}

.background-image {
    /* animates zoom effect on loading page */
    animation-name: background-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for image */
@keyframes background-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.5);
    }
}


.landing-button {
    text-shadow: none;
    background-color: #fdfcfb !important;
    color: #000000 !important;
    border-color: #000000 !important;
}

.landing-button:hover {
    background-color: #ec7718 !important;
    color: #fdfcfb !important;
    border-color: #f19f5c !important;
}

.landing-text {
    height: 50vh;
    display: flex;
    justify-content: center;
    margin: 30px 50px;
    flex-direction: column;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.landing-text h1 {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}


.landing-text h2 {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

.book-tour-button {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    60% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity: 0;}
    60% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    60% {opacity: 0;}
    100% {opacity: 1;}
}

@-o-keyframes fadeIn {
    0% {opacity: 0;}
    60% {opacity: 0;}
    100% {opacity: 1;}
}

@-ms-keyframes fadeIn {
    0% {opacity: 0;}
    60% {opacity: 0;}
    100% {opacity: 1;}
}

/* Custom styling for Tour List View Page */
.card-text {
    font-size: 1.25rem !important;
}

/* Custom styling for Tour Detail View Page */
#hero-image {
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: fixed;
    background-color: rgba(236,119,24, .18);
}

/*forms */
.form-group {
    line-height: 1.6;
    margin-bottom: 10px;
}

.form-style {
    background-color: #383636 !important;
    color: #f5f5f5;
}

.sign-up-link {
    color: #f5f5f5 !important;
}

.sign-up-link:hover {
    color: #ec7718 !important;
}

.order-sign-up {
    
    color: #ec7718 !important;
}

.order-sign-up:hover {
    
    color: #383636 !important;

}

.text-orange {
    color: #ec7718 !important;
}

/*Messages */
.message-container {
    z-index: 999;
    position: absolute;
    right: 15px;
    top: 115px;
}

/*Order Form */
.order-form .container {
    color: #4c4c4c;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  }

/* Media Queries */
@media (max-width: 700px) {
    #time {
      font-size: 2rem;
    }
  }
