{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Tours List Main Content -->
<div class="container">
    <div class="row">
        <div class="col">
            Tours List
        </div>
    </div>
</div>

<section class="container d-flex justify-content-center">
    <div>
        {%  for tour in tours  %}
        <div class=" card mb-3 shadow p-2 mb-3 bg-body rounded" style="max-width: 900px;">
            <div class="row g-0">
                <div class="col-md-5">
                    {%  if tour.image_url  %}
                    <!-- Tour Image -->
                    <img class="rounded-circle shadow mb-3 bg-body rounded mx-auto d-block mt-3"
                        src="{{tour.image_url }}" width="300" alt="Tour Image">
                    {%  else  %}
                    <!-- Default Image -->
                    <img class="rounded-circle border shadow mb-3 bg-body rounded mx-auto d-block mt-3"
                        src= "/media/temp-image.png"
                        width="300" alt="Default Image">
                    {%  endif  %}
                </div>
                <!-- Snippet Details of Each Tour-->
                <div class="col-md-7 text-md-start text-center">
                    <div class="card-body mb-3 mt-3">
                        <h4 class="card-title">
                            <a class="text-decoration-none"
                                href="">{{  tour.tour_name  }}
                            </a>
                        </h4>
                        <p class="card-text list-inline-item p-2"><small class="text-muted"><strong><i
                            class="fa-regular fa-star"></i>
                        Rating{{ tour.rating.count|pluralize }}</strong>
                    <i>{{ tour.rating.count }}</i>
                </small></p>
                        <p class="card-text list-inline-item p-2"><small class="text-muted"><strong><i
                                        class="fa-regular fa-comment"></i>
                                    Review{{ tour.reviews.count|pluralize }}</strong>
                                <i>{{ tour.reviews.count }}</i>
                            </small></p>
                        <p class="card-text text-start p-2">
                            {{  tour.description | striptags | slice:100 | safe  }}.......
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {%  endfor  %}
    </div>
</section>


{% endblock %}