{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Tours List Page Title -->
<div class="row g-0 mt-5">
    <div class="col-md-8 offset-md-1 text-center text-md-start">
        <h1 class="text-orange">TimeTravelling Tours</h1>
        <h2>Search a Moment in Time</h2>
    </div>

    <div class="filter-menu pt-5 pb-3 col-md-8 offset-md-2 text-center text-md-start">
        <!-- Special Offers Filter Menu -->
        <div class="btn-group">
            <a class="btn btn-secondary m-2" href="{% url 'tours-list' %}" aria-label="List All Tours">
                Show All Tours
            </a>
        </div>

        <!-- Filter Tours Menu -->
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle m-2" data-bs-toggle="dropdown"
                aria-expanded="false">
                Sort By
            </button>
            <div class="dropdown-menu">
                <a href="{% url 'tours-list' %}?sort=price&direction=ascending" class="dropdown-item" aria-label="Sort by Price Ascending">By
                    Price: <small>Low to High</small></a>
                <a href="{% url 'tours-list' %}?sort=price&direction=desending" class="dropdown-item" aria-label="Sort by Price Decending">By
                    Price: <small>High to Low</small></a>
                <a href="{% url 'tours-list' %}?sort=rating&direction=desending" class="dropdown-item" aria-label="Sort by Rating Ascending">By
                    Highest Rating</a>
                <a href="{% url 'tours-list' %}?sort=tour_name&direction=ascending" class="dropdown-item"
                    aria-label="Sort By Name A-Z">By Name: <small>A-Z</small></a>
                <a href="{% url 'tours-list' %}?sort=tour_name&direction=desending" class="dropdown-item"
                    aria-label="ort By Name Z-A">By Name: <small>Z-A</small></a>
                <a href="{% url 'tours-list' %}?sort=date_added&direction=desending" class="dropdown-item"
                    aria-label="Sort By Most Recent">Most Recent</a>
                </div>
        </div>

        <!-- Special Offers Filter Menu -->
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle m-2" data-bs-toggle="dropdown"
                aria-expanded="false">
                Filter By
            </button>
            <div class="dropdown-menu">
                <a href="{% url 'tours-list' %}?category=80s_tours" class="dropdown-item"
                    aria-label="List 80s Tours">1980s Tours</a>
                <a href="{% url 'tours-list' %}?category=70s_tours" class="dropdown-item"
                    aria-label="List 70s Tours">1970s Tours</a>
                <a href="{% url 'tours-list' %}?category=60s_tours" class="dropdown-item"
                    aria-label="List 60s Tours">1960s Tours</a>
                <a href="{% url 'tours-list' %}?category=50s_tours" class="dropdown-item"
                    aria-label="List 50s Tours">1950s Tours</a>
                <a href="{% url 'tours-list' %}?category=jurassic" class="dropdown-item"
                    aria-label="List Jurassic Tours">Jurassic Tours</a>
            </div>
        </div>

        <!-- Special Offers Filter Menu -->
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle m-2" data-bs-toggle="dropdown"
                aria-expanded="false">
                Special Offers
            </button>
            <div class="dropdown-menu">
                <a href="{% url 'tours-list' %}?category=group_discounts" class="dropdown-item"
                    aria-label="List Group Discounts">Group Discounts</a>
                <a href="{% url 'tours-list' %}?category=last_minute_deals" class="dropdown-item"
                    aria-label="List Last Minute Deals">Last Minute Deals</a>
            </div>
        </div>
    </div>
</div>


<!-- Div will land the link from the pagination page to the tours list section 
                so not blocked by fixed header -->
<div id="tours-list">
    <div class="col-12 col-md-6 order-md-first">
        <p class="text-muted mt-3 text-center text-md-left">
            Tours Found: {{ tours|length }} {% if search_query %} found for
            <strong>"{{ search_query }}"</strong>{% endif %}
        </p>
    </div>
</div>


<!-- List of Tours -->
<section class="pt-3 pb-3 position-relative">
    <div class="col-md-9 offset-md-2">
        <div class="row g-0">
            {%  for tour in tours  %}
            <div class="col-lg-3 col-md-5 col-12 card mb-3 ms-2 shadow p-2 bg-body rounded">
                <div class="card-group">
                    <div class="card">

                        <!-- Tour Image -->
                        {%  if tour.image_url  %}
                        <a class="text-decoration-none" href="{% url 'tour-detail' tour.id %}"
                            aria-label="Go to Tour Detail"><img class="card-img-top rounded-circle"
                                src="{{tour.image_url }}" alt="Tour Image"></a>

                        {%  else  %}
                        <!-- Default Image -->
                        <a class="text-decoration-none" href="{% url 'tour-detail' tour.id %}"
                            aria-label="Go to Tour Detail"><img class="card-img-top rounded-circle"
                                src="https://res.cloudinary.com/ciara0s1980/image/upload/v1663335543/temp-image.png" alt="Tour Image"></a>

                        {%  endif  %}

                        <div class="card-body">
                            <!-- Tour Title-->
                            <h4 class="card-title"><a class="text-orange text-decoration-none"
                                    href="{% url 'tour-detail' tour.id %}"
                                    aria-label="Go to Tour Detail">{{  tour.tour_name  }}
                                </a></h4>

                            <!-- Ratings-->
                            {% if tour.rating %}
                            <p class="card-text list-inline-item p-1 mb-0"><small class="text-muted"><strong><i
                                            class="fa-regular fa-star"></i>
                                        Rating: </strong>
                                    <i>{{ tour.rating }}</i>
                                </small></p>
                            {% else %}
                            <p class="card-text list-inline-item p-1 mb-0"><small class="text-muted"><strong><i
                                            class="fa-regular fa-star"></i>
                                        Not Rated Yet</strong>
                                </small></p>
                            {% endif %}

                            <!-- Reviews-->
                            <p class="card-text list-inline-item p-1 mb-0"><small class="text-muted"><strong><i
                                            class="fa-regular fa-comment"></i>
                                        Review{{ tour.reviews.count|pluralize }}: </strong>
                                    <i>{{ tour.reviews.count }}</i>
                                </small>
                            </p>

                            <!-- Accessibility-->
                            {% if tour.accessibility_friendly == True %}
                            <p class="card-text list-inline-item p-1 mb-0"><small class="text-muted"><strong><i
                                            class="fa-regular fa-circle-check"></i>
                                        Accessibility Friendly </strong></small></p>
                            {% else %}
                            <p class="card-text list-inline-item p-1 mb-0"><small class="text-muted"><strong><i
                                            class="fa-regular fa-circle-xmark"></i>
                                        Not Accessibility Friendly </strong></small></p>
                            {% endif %}

                            <!-- Departure Time-->
                            <p class="card-text list-inline-item p-1 mb-0"><small class="text-muted"><strong><i
                                            class="fa-regular fa-clock"></i> Departs at:
                                        <i>{{ tour.departure_time }} for {{  tour.tour_duration  }}</i>
                                    </strong></small></p>

                            <!-- Price-->
                            <p class="card-text list-inline-item p-1 mb-0"><small class="text-muted"><strong><i
                                            class="fa-solid fa-euro-sign"></i>
                                        <i>{{ tour.price }}</i> per person
                                    </strong></small>
                            </p>

                            <!-- Tour Description Snippet-->
                            <p class="card-text mt-2">{{  tour.description | striptags | slice:100 | safe  }}.......</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- If Search Results do not match show message-->
            {%  empty  %}
            <div>
                <h4>No Tours listed for your search {% if search_query %}
                    <strong>"{{ search_query }}"</strong>{% endif %}</h4>
            </div>
            {%  endfor  %}
        </div>
    </div>
</section>


<!-- Tours List Pagination -->
<div class="paginate d-flex justify-content-center mb-4 mt-3">
    {%  if is_paginated  %}

    {%  if page_obj.has_previous  %}
    <a class="btn btn-outline-secondary btn-sm mb4 me-1" href="?page=1#tours-list">First</a>
    <a class="btn btn-outline-secondary btn-sm mb4 me-1"
        href="?page={{  page_obj.previous_page_number  }}#tours-list">Previous</a>
    {%  endif  %}

    {%  for num in page_obj.paginator.page_range  %}
    {%  if page_obj.number == num  %}
    <a class="btn btn-secondary btn-sm mb4 me-1" href="?page={{  num  }}#tours-list">{{  num  }}</a>
    {%  elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3"  %}
    <a class="btn btn-outline-secondary btn-sm mb4 me-1" href="?page={{  num  }}#tours-list">{{  num  }}</a>
    {%  endif  %}
    {%  endfor  %}

    {%  if page_obj.has_next  %}
    <a class="btn btn-outline-secondary btn-sm mb4 me-1"
        href="?page={{  page_obj.next_page_number  }}#tours-list">Next</a>
    <a class="btn btn-outline-secondary btn-sm mb4 me-1"
        href="?page={{  page_obj.paginator.num_pages  }}#tours-list">Last</a>
    {%  endif  %}

    {%  endif  %}
</div>


{% endblock %}