{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Landing Page & Main Title Text -->
<section>
    <div class="container">
        <div class="row mt-5 pt-2">
            <h1 class="mb-3 d-flex">Time Hoppers Newsletters</h1>
            <p>Complete the newsletter information below and click send to email to the list of subscribers</p>
            <div class="col-md-6 offset-md-3 mb-5 mt-3">
                <div class="card">
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input class="btn btn-primary btn-block mb-2 float-end" type="submit"
                                value="Send Newsletter">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}