{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A website to book a time travelling tour">
    <meta name="keywords" content="time travelling, guided tours">
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

    <!-- My CSS link -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <!-- JS -->
    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}


    {% block extra_js %}
    {% endblock %}

    <!-- Fontawesome link -->
    <script src="https://kit.fontawesome.com/c296b1236c.js" crossorigin="anonymous"></script>

    <!-- Favicon link -->
    <link rel="shortcut icon" href="{% static '#' %}">


    <title> Time Hoppers {% block extra_title %}{% endblock %}
    </title>
</head>

<body class="d-flex flex-column min-vh-100">
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-md navbar-light p-5 pe-5">

        <!-- Hamburger Menu for Small Screens-->
        <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" class="navbar-toggler"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation bar"><span
                class="navbar-toggler-icon"></span>
        </button>

        <!-- Logo-->
        <a class="navbar-brand mb-0 ms-2" href="{% url 'home' %}" aria-label="Go to Home Page">TimeHoppers
        </a>

        <!-- Nav Links -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">

            {% with request.resolver_match.url_name as url_name %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="{%  if url_name == 'home' %}active {%  endif  %}nav-link"
                        aria-label="Go to Home Page">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="{%  if url_name == 'home' %}active {%  endif  %}nav-link"
                        aria-label="Go to About Us Page">About</a>
                </li>
                <li class="nav-item-active">
                    <a href="{% url 'tours-list' %}"
                        class="{%  if url_name == 'tours-list' %}active {%  endif  %}nav-link"
                        aria-label="Go to Tour List Page">Tours</a>
                </li>

                <li class="nav-item-active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        My Account
                    </a>
                    <!-- My Account Drop-down menu if user logged in -->
                    {%  if user.is_authenticated  %}

                    <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li nav-item-active><a href="{%  url 'profile'  %}"
                                class="{%  if url_name == 'profile'  %}active {%  endif  %}nav-link"
                                aria-label="Profile Page">Profile</a></li>

                        <li><a href="{%  url 'account_logout'  %}"
                                class="{%  if url_name == 'account_logout'  %}active {%  endif  %}nav-link"
                                aria-label="Logout">Logout</a></li>

                        {% if request.user.is_superuser %}
                        <li nav-item-active><a href="{%  url 'admin:index'  %}"
                                class="{%  if url_name == 'admin-site'  %}active {%  endif  %}nav-link"
                                aria-label="Admin Page">Admin Site</a></li>

                        {% endif %}

                        <!-- My Account Drop-down menu if user logged out -->
                        {%  else  %}
                        <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li nav-item-active><a href="{%  url 'account_login'  %}"
                                    class="{%  if url_name == 'account_login'  %}active {%  endif  %}nav-link"
                                    aria-label="Go to Log In Page">Login</a></li>

                            <li><a href="{%  url 'account_signup'  %}"
                                    class="{%  if url_name == 'account_signup'  %}active {%  endif  %}nav-link"
                                    aria-label="Go to Register Page">Register</a></li>
                        </ul>
                </li>
                {% endif %}
            </ul>
            {% endwith %}
        </div>

        <!-- Search Bar on Large Screens-->
        <div class="d-none d-lg-block pt-2">
            <form method="GET" action="{% url 'tours-list' %}">
                <div class="input-group w-100">
                    <input class="form-control border border-black" type="search" id="form1" name="q"
                        placeholder="Search">
                    <div class="input-group-append">
                        <button class="form-control btn btn-primary" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Search Icon for Small Screens-->
        <li class="list-inline-item">
            <a class="text-black nav-link d-block d-lg-none" href="#" id="mobile-search" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <div class="nav-icons text-center">
                    <div><i class="fas fa-search fa-lg"></i></div>
                    <p class="my-0">Search</p>
                </div>
            </a>
            <div class="dropdown-menu w-100 p-3 my-0" aria-labelledby="mobile-search">
                <form class="form" method="GET" action="{% url 'tours-list' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="search" id="form1" name="q"
                            placeholder="Search">
                        <div class="input-group-append">
                            <button class="form-control fbtn btn-primary" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>

        <!-- Shopping Basket -->
        <div class="pb-2 pt-2">
            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                href="{% url 'view-basket' %}">
                <div class="nav-icons text-center">
                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                    <p class="my-0">
                        {% if grand_total %}
                        €{{ grand_total|floatformat:2 }}
                        {% else %}
                        €0.00
                        {% endif %}
                    </p>
                </div>
            </a>
        </div>
    </nav>
    <main>
        <!-- Show Messages -->

        <div class="message-container float-end d-flex justify-content-center mt-2">
            {%  if messages  %}
            {%  for message in messages  %}
            <div class="alert alert-{{  message.tags  }}">
                {{  message  }}
            </div>
            {%  endfor  %}
            {%  endif  %}
        </div>

        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}

    </main>

    <!--Footer Section-->

    <footer id="footer">
        <div class="container py-7 px-md-5 pt-2">
            <div class="row g-0 p-3">
                <!--Logo & Contact Details-->
                <div class="col-md-6 mb-5 mb-md-0">
                    <div class="mb-4 d-inline-block"><a
                            class="navbar-brand pt-0 fs-3 text-white d-flex align-items-center"
                            href="{% url 'home' %}">TimeHoppers</a>
                    </div>
                    <div class="footer-icons col-12 col-md-10 text-300 mb-3"><i class="fas fa-map-marker-alt"></i><a
                            class="nav-link text-300 d-inline" href="https://goo.gl/maps/caaQJohk6GHRxHWa9">
                            123 Fake Street</a></div>
                    <div class="footer-icons col-12 col-md-10 text-300 mb-3"><i class="fas fa-phone"></i><a
                            class="nav-link text-300 d-inline" href="tel:+353123345678">+353 123 345678</a></div>
                    <div class="footer-icons col-12 col-md-10 text-300 mb-3"><i class="fas fa-envelope"></i><a
                            class="nav-link text-300 d-inline" href="mailto:fakeemail@gmail.com">fakeemail@gmail.com</a>
                    </div>
                </div>
                <!--Newsletter Form-->
                <div class="col-md-6">
                    <h5 class="text-white mb-2">SUBSCRIBE TO OUR NEWSLETTER</h5>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1"></label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-white">We'll never share your email with
                                anyone</small>
                        </div>

                        <div class="d-flex justify-content-start pt-2"><button type="submit"
                                class="btn btn-primary">Submit</button>
                        </div>
                    </form>

                    <!--Social Media-->
                    <div class="d-flex gap-2 flex-wrap justify-content-end align-items-center pb-2"><a
                            class="social-icons" href="https://github.com/ciaraosull" target="_blank"
                            aria-label="Go to github profile"><i class="fa-brands fa-square-github fa-2xl"></i></a><a
                            class="social-icons" href="https://www.facebook.com/" target="_blank"
                            aria-label="Go to facebook profile"><i
                                class="fa-brands fa-square-facebook fa-2xl"></i></a><a class="social-icons"
                            href="https://www.linkedin.com/in/ciara-o-sullivan-2834378b" target="_blank"
                            aria-label="Go to linkedin profile"><i class="fa-brands fa-linkedin fa-2xl"></i></a></div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Copyright Section-->
    <section id="copyright">
        <div class="container px-md-5">
            <div class="row g-0 justify-content-md-between justify-content-evenly py-4">
                <div class="col-12 col-sm-8 col-md-6 col-lg-auto text-center text-md-start">
                    <p class="fs--1 my-2 fw-light text-100">&copy; TimeHoppers, 2022</p>
                </div>
                <div class="col-12 col-sm-8 col-md-6">
                    <p class="fs--1 fw-light my-2 text-center text-md-end"> Made with <i class="fas fa-heart"></i> by
                        Ciara O'Sullivan</p>
                </div>
            </div>
        </div>
    </section>

    {% block postloadjs %}
    {% endblock %}

</body>

</html>