{% extends "base.html" %}

{% load static %}
{%  block content  %}


<div class="row pt-5">
    <div class="col-md-8 offset-md-2 text-center text-md-start p-3">
        <h1 class="text-orange m-2">About Us</h1>
        <h3 class="pt-3 pb-3">We are a TimeTravelling Tour Guide Company!</h3>
    </div>
    <div class="about-us-heading about-us-banner">
        <div class="col-md-8 offset-md-2">
            <p>Fancy a different type of holiday?</p>
            <p>Then browse our tours and see where the moment takes you.</p>
            <p>You can book as a guest or register for an account to keep track of your booking history and post
                reviews.
            </p>
            <p>Once your online payment is successful, we will email you your order number</p>
            <p>Make sure to hav this ready on the day you time travel.</p>
        </div>
    </div>

</div>

<!-- List of Staff Members -->
<section>
    <div class="row pt-3 pb-3 staff-banner">
        <div class="col-md-8 offset-md-3">
            <div class="row">
                <h3 class="pt-3 pb-3">Meet Our Staff</h3>
                {%  for staffmember in staffmembers  %}
                <div class="col-lg-3 col-md-4 col-12 card m-2 shadow p-2 bg-body rounded">
                    <div class="card-group">
                        <div class="card align-items-center">

                            <!-- Staff Image -->
                            {%  if staffmember.profile_image.url  %}
                            <img class="staff-image card-img-top rounded-circle pt-2" src="{{ staffmember.profile_image.url  }}"
                                max-width="100px" max-height="100px" alt="Tour Image">

                            {%  else  %}
                            <!-- Default Image -->
                            <img class="staff-image card-img-top rounded-circle pt-2"
                                src="https://res.cloudinary.com/ciara0s1980/image/upload/v1663335273/default-profile-image.png"
                                width="100px" alt="Tour Image"></a>

                            {%  endif  %}

                            <div class="card-body">
                                <!-- Staff Name-->
                                <h4 class="card-title">{{  staffmember.full_name  }}
                                    </a></h4>

                                <!-- Tour Works On-->
                                <p class="card-text list-inline-item p-1 mb-0"><small class="text-muted"><strong><i
                                                class="text-orange fa-regular fa-star"></i>
                                            Guide: </strong>
                                        <i>{{ staffmember.tour }}</i>
                                    </small></p>

                                <!-- Date Started-->
                                <p class="card-text list-inline-item p-1 mb-0"><small class="text-muted"><strong><i
                                                class="text-orange fa-regular fa-calendar-days"></i>
                                            TimeTravelling Since: </strong>
                                        <i>{{ staffmember.date_started }}</i>
                                    </small>
                                </p>

                                <!-- Multi-Ligual-->
                                {% if staffmember.multi_lingual == True %}
                                <p class="card-text list-inline-item p-1 mb-0"><small class="text-muted"><strong><i
                                                class="text-orange fa-regular fa-circle-check"></i>
                                            Multi-Lingual </strong></small></p>
                                {% else %}
                                <p class="card-text list-inline-item p-1 mb-0"><small class="text-muted"><strong><i
                                                class="fa-regular fa-circle-xmark"></i>
                                            Not Multi-Lingual </strong></small></p>
                                {% endif %}

                                <!-- Faviourite Era-->
                                <p class="card-text list-inline-item p-1 mb-0"><small class="text-muted"><strong><i
                                                class="text-orange fa-regular fa-heart"></i>
                                            Favourite Era: </strong>
                                        <i>{{ staffmember.faviourite_era }}</i>
                                    </small>
                                </p>

                                <!-- Staff Member Contact-->
                                <p class="card-text mt-2"><a class="text-orange text-decoration-none"
                                        href="{{  staffmember.social_media_link  }}" target="_blank"
                                        aria-label="Go to Contact Detail">Click Here For Contact Link
                                    </a></p>
                            </div>
                        </div>
                    </div>
                </div>
                {%  endfor  %}
            </div>
        </div>

    </div>
</section>


{%  endblock content  %}